@import "myMixins";

$primary: #5CE65C;
$secondary: #6C86D5;
$tertiary: #551A8B;
$alert: #FF0000;
$link-color: #3CA0D0;
$font-color1: #484848;
$font-color2: lighten(#484848, 40%);

*{
	margin: 0;
	padding: 0;
}

body{
	
}

body.spotlight{
	/*background-image: url(/images/metlife.jpg);
	background-attachment: fixed;*/
	@include topInsetBoxShadow(#484848);
	background-image: url(/images/stadium_chairs3.jpg);
	background-attachment: fixed;
	background-size: cover;
}

body.talk{
	/*background-image: url(/images/metlife.jpg);
	background-attachment: fixed;*/
	background-image: url(/images/stadium_chairs_green.jpg);
	background-attachment: fixed;
	background-size: cover;

}

h1{
	font-size: 35px;
}

h2{
	font-size: 25px;
	a{
		font-size: 25px !important;
	}
}

h3{
	font-size: 18px;
	a{
		font-size: 18px !important;
	}
}

p{
	font-size: 14px;
	a{
		font-size: 14px !important;
	}
}

.secFull{
	width: 100%;
}

.disabled{
	opacity: 0.4;
	pointer-events: none;
}

.loading{
	opacity: 0.4;
	pointer-events: none;
}

.loading:after{
	content: url(/images/loading_green.GIF);
	background-size: 25px 25px;
	display: inline-block;
   	vertical-align: middle;
   	text-align: center;
	width: 25px; height: 25px;
}

.profile-pic-lg{
	width: 200px;
	height: 200px;
}
.profile-pic-md{
	width: 100px;
	height: 100px;
}

.profile-pic-sm{
	width: 50px;
	height: 50px;
}

.profile-pic-xs{
	width: 25px;
	height: 25px;
}

input[disabled="disabled"], button[disabled="disabled"]{opacity: 0.50 !important; cursor: default;}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{
	border: solid 1px $alert;
}

.form-input {
	.error-msg{
		@include transition(0.25s);
		width: 100%;
		background: darken($alert, 15%);
		text-align: center;
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 12px;
		display: none;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

a{
	@include transition(0.25s);
	color: $link-color;
	cursor: pointer;
	h2, h3, p, span{
		color: $link-color;
	}
}

a:hover{
	color: darken($link-color, 15%);
}

button.agree{
	@include transition(0.25s);
	color: $primary;
}

button.disagree{
	@include transition(0.25s);
	color: $alert;
}

button.agree.active{
	background: $primary;
	color: #fff;
}

button.disagree.active{
	background: $alert;
	color: #fff;
}

button.agree:hover{
	color: lighten($primary, 10%);
}

button.disagree:hover{
	color: lighten($alert, 10%);
}

.hide{
	display: block;
}

.login-wrap{
	@include transitionFade(0.50s);
	background: rgba($tertiary, 0.85);
	position: fixed;
	z-index: 900;
	text-align: center;
	overflow: hidden;
	h1, h2, h3, p, a, span{
		color: #fff;
		text-shadow: 1px 0px 1px #000;
	}
	a:hover{
		color: $primary;
	}
	.fb-login{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	form{
		overflow-y: scroll;
		float: none;
		margin: 0 auto;
		.form-input{
			margin-bottom: 15px;
			span{
				font-size: 14px;
				color: #fff;
			}
			input{
				margin: 10px;
			}
		}
	}
	.switch-wrap{
		.label{
			color: #fff;
		}
	}
}

input, select, textarea{
	outline: none;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 10px;
}

button, input[type="submit"]{
	@include transition(0.25s);
	border: solid 1px darken(#f2f2f2, 25%);
	border-radius: 5px;
	padding: 10px;
	background: #f2f2f2;
	font-size: 16px;
}

button:hover{
	background: #fff;
}

.mainBump{
	padding-top: 75px;
}

menu{
	@include transition(0.25s);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 800;

	ul{
		@include transition(0.25s);
		overflow: hidden;
		padding: 0;
		li{
			float: left;
			cursor: pointer;
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center;
			list-style: none;
			font-size: 20px;
			a{
				@include transition(0.25s);
				font-family: 'Lato', sans-serif;
				//color: $link-color;
				color: #fff;
				font-weight: 400;
				text-decoration: none;
			}
			a:hover{
				color: $link-color;
			}
		}
		li.current:hover{
			background: $secondary;
			a{
				color: #fff;
			}
		}
	}
	/*ul:hover{
		background: #fff;
	}*/
	.logo{
		display: none;
	}
}

menu.fullMenu{
	@include transition(0.25s);
	background: #fff;
	border-bottom: solid 1px #f2f2f2;

	ul{
		@include transition(0.25s);
		overflow: hidden;
		padding: 0;
		li{
			float: left;
			border-left: solid 1px #eee;
			border-right: solid 1px #eee;
			a{
				@include transition(0.25s);
				font-family: 'Lato', sans-serif;
				color: #aaa;
				font-weight: 400;
				text-decoration: none;
			}
		}
		li:hover{
			a{
				color: $primary;
			}
		}
		li.current{
			background: $primary;
			a{
				color: #fff;
			}
		}
		li.current:hover{
			background: $secondary;
		}

	}
	ul:hover{
		//background: #fff;
	}
	.logo{
		@include transition(0.25s);
		position: absolute;
		font-family: 'Megrim', cursive;
		text-shadow: 1px 0px 1px #aaa;
		color: #fff;
		top: 0;
		padding: 15px;
		padding-left: 20px;
		padding-right: 20px;
		right: 10%;
		background: opacify($primary, 0.5);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		display: block;
	}
	.logo:hover{
		background: opacify($secondary, 0.5);
		padding: 20px;
		-moz-box-shadow: 0 0 5px 1px $primary;
		-webkit-box-shadow: 0 0 5px 1px $primary;
		box-shadow: 0 0 5px 1px $primary;
	}

}

#splash1{
	width: 100%;
	text-align: center;
	margin-top: 75px;
	h1{
		font-family: 'Megrim', cursive;
		font-weight: 400;
		font-size: 100px;
		text-align: center;
		color: $font-color1;
	}
	h2{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 65px;
		margin-top: 25px;
		text-align: center;
		margin-bottom: 25px;
		color: $font-color2;
	}
	h3{
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 25px;
		margin-top: 50px;
		text-align: center;
	}
	button{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		margin: 0 auto;
		margin-top: 50px;
		font-size: 25px;
	}
	hr{
		width: 75%;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		opacity: 0.75;
	}
}

.clickable{
	cursor: pointer;
}
/* HOME PAGE */

.slider{
	width: 100%;
	height: 500px;
	position: relative;
	.logo{
		position: absolute;
		top: 10px;
		right: 5%;
		z-index: 400;
		h1{
			font-family: 'Megrim', cursive;
			font-size: 40px;
			color: #fff;
			text-shadow: 1px 0px 1px #484848;
		}
	}
}

.slide{
	height: 100%; 
	width: 100%;
	font-family: 'Lato', sans-serif; 
	position: absolute; 
	top: 0; 
	-moz-box-shadow: inset 0 -40px 50px 0 #000;
	-webkit-box-shadow: inset 0 -40px 50px 0 #000;
	box-shadow: inset 0 -40px 50px 0 #000;
}
.slideText{
	width: 100%;
	padding: 15%;
	border-radius: 15px; 
	height: 300px;
}
.slideText h1, .slideText h2, .slideText h3{
	margin-left: 50px; 
	color: white;
	text-shadow: 1px 0px 1px #000;
}
.socialBox{
	@include transition(0.25s);
	text-align: center;
	width: 100%;
	.socialLinks{
		width: 40px;
		height: 40px;
		margin: 15px;
		opacity: 0.90;
	}
	.socialLinks:hover{
		opacity: 1.0;
	}
}
.slideRadioBox{
	@include transition(0.25s);
	width: 100%;
	text-align: center;
	.slideRadio{
		@include transition(0.25s);
		@include circleBorder(10px);
		border: solid 1px #f2f2f2;
		background: #fff;
		margin-right: 15px;
		opacity: 0.90;
		display: inline-block;
	}
	.slideRadio:hover{
		background: lighten($link-color, 25%);
		opacity: 1.0;
	}
	.slideRadio.current{
		background: $link-color;
	}
}
.slideText{
	h1{font-size: 55px;}
	h2{
		font-family: 'Lato', sans-serif;
		font-size: 35px; 
		font-weight: 700;
	} 
	h3{
		font-family: 'Lato', sans-serif;
		font-size: 20px; 
		font-weight: 400;
		width: 600px;
	}  
	hr{
		width: 70%;
		margin-left: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	a{color: #6d82ff;} 
	a:hover{color: #eee;}
} 
#slide1{background: url(/images/nfl_grass.jpg);}
#slide2{background: url(/images/soccer_inspiration.jpg);}
#slide3{background: url(/images/microphone.jpg);} 
#slide4{background: url(/images/metlife.jpg);}

.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity:0;
}

.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.arrows{position: absolute; top: 40%; opacity: 0.85; z-index: 200;} 
.arrows:hover{opacity: 1.0;} 
.arrows img{height: 50px; width: 50px;}
#leftArrow{left: 5%;} #rightArrow{right: 5%;}

#home2{
	font-family: 'Lato', sans-serif;
	padding-top: 25px;
	padding-bottom: 40px;
	background: $secondary;
	text-align: center;
	color: #fff;
	position: relative;
	overflow: hidden;
	#article{
		@include transitionFade(0.25s);
		h3{
			@include transition(0.25s);
		}
	}
	h2{
		font-weight: 400;
	}
	h3{
		font-weight: 300;
		a{
			color: $tertiary;
		}
	}
	hr{
		width: 80%;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.arrows{
		position: absolute;
		top: 25%;
	}
	.arrows.right{
		right: 5%;
	}
	.arrows.left{
		left: 5%;
	}
}

#home3{
	.heading{
		background-image: url(/images/cam_newton.jpg);
		background-size: cover;
		h1, h2, h3, p, a{
			color: #fff;
			text-shadow: 1px 0px 1px #000;
		}
	}
	.info{
		background-image: url(/images/cam_newton_light.jpg);
		background-size: cover;
	}
}

#home4{
	.heading{
		background-image: url(/images/odellbeckhamjr.jpg);
		background-size: cover;
		h1, h2, h3, p, a{
			color: #fff;
			text-shadow: 1px 0px 1px #000;
		}
	}
	.info{
		background-image: url(/images/odellbeckhamjr_light.jpg);
		background-size: cover;
	}
}

#home5{
	.heading{
		background-image: url(/images/office_desk.jpg);
		background-size: cover;
		h1, h2, h3, p, a{
			color: #fff;
			text-shadow: 1px 0px 1px #000;
		}
	}
	.info{
		background-image: url(/images/office_desk_light.jpg);
		background-size: cover;
	}
}

/*************/

/* SPOTLIGHT PAGE */
#spot1{
	margin-bottom: 50px;
	margin-top: 25px;
	h1{
		font-family: 'Lato', sans-serif;
		text-align: center;
		color: $font-color2;
	}
}

#spot2{
	overflow: hidden;
	position: relative;
	margin-bottom: 100px;
}

.videoBox{
	width: 70%;
	float: right;
	margin-bottom: 50px;
	margin-right: 4%;
	margin-top: 100px;
	padding-bottom: 25px;
	border-right: solid 2px #eee;
	background: #fff;
	border-top: solid 4px $primary;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: 0 0 5px 1px #aaa;
	-webkit-box-shadow: 0 0 5px 1px #aaa;
	box-shadow: 0 0 5px 1px #aaa;

	h1, h2, h3{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
		color: #484848;
	}

	h1{
		font-family: 'Megrim', cursive;
		margin-top: 25px;
		margin-bottom: 10px;
		font-size: 25px;
		color: $primary;
	}

	h2{
		margin-bottom: 5px;
		font-size: 18px;
	}

	h3{
		margin-top: 10px;
		font-size: 16px;
	}

	iframe{
		width: 90%;
		margin-left: 5%;
		height: 400px;
	}

	hr{
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.video-post{
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: solid 2px #eee;
		.row{
			@include transition(0.25s);
			h2{
				font-weight: 400;
				color: lighten($tertiary, 10%);
				margin-bottom: 15px;
			}
			.click-help{
				overflow: hidden;

				-webkit-transition: max-height 0.8s;
				-moz-transition: max-height 0.8s;
				transition: max-height 0.8s;
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				opacity: 1.0;

				margin: 0 auto;
				float: none;
				background: $primary;
				color: #fff;
				font-size: 16px;
				text-align: center;
			}
			.click-help:hover{
				background: $secondary;
			}
		}
		.row:hover{
			.click-help{
				max-height: 200px;
				opacity: 1.0;
			}
		}
	}
	.video-post.active{
		.row{
			.click-help{
				max-height: 0px;
				opacity: 0;
			}
		}
	}

}

.videoMenu{
	width: 20%;
	float: left;
	margin-left: 3%;
	margin-top: 100px;
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #484848;
	font-family: 'Lato', sans-serif;
	border-top: solid 4px $primary;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: 0 0 5px 1px #aaa;
	-webkit-box-shadow: 0 0 5px 1px #aaa;
	box-shadow: 0 0 5px 1px #aaa;

	h2{
		font-weight: 300;
		font-size: 18px;
	}
	h2.title{
		font-family: 'Megrim', cursive;
		font-weight: 400;
		margin-bottom: 35px;
		color: $primary;
		font-size: 35px;
	}
	h3{
		font-size: 16px;
	}
	hr{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#videoMenu1{
		padding-left: 5%;
		padding-right: 5%;
	}

	#videoMenu2{
		h2{
			margin-bottom: 15px;
			
		}
		h3{
			font-weight: 300;
			margin-bottom: 10px;
			a:hover{
				color: darken($primary, 15%);
			}
		}
		.recent-videos{
			li{
				@include transition(0.25s);
				list-style: none;
				border-top: solid 1px lighten($primary, 10%);
				border-bottom: solid 1px lighten($primary, 10%);
				a{
					@include transition(0.25s);
					display: block;
					padding-top: 10px;
					padding-bottom: 10px;
					width: 100%;
					background: #fff;
				}
				a:hover{
					background: $primary;
					color: #fff;
				}
			}
		}
		.recent-videos.active{
			li{
				a{
					background: $primary;
					color: #fff;
				}
				a:hover{
					background: lighten($primary, 10%);
				}
			}
		}
	}

	#videoMenu3{
		h2{
			margin-bottom: 15px;
		}
		h3{
			font-weight: 300;
			a:hover{
				color: darken($primary, 15%);
			}
		}
	}

}

/***********************/

/********** RANT *************/

.board{
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0 auto;
	float: none;
	.row{
		@include smallBoxShadow(#484848);
		border-radius: 5px;
		width: 100%;
		margin-bottom: 15px;
		.click-help{
			max-height: 0;
			overflow: hidden;

			-webkit-transition: max-height 0.8s;
			-moz-transition: max-height 0.8s;
			transition: max-height 0.8s;

			width: 100%;
			background: $tertiary;
			color: #fff;
			font-size: 16px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		.click-help:hover{
			background: lighten($tertiary, 10%);
		}
		.box{
			@include transition(0.25s);
			@include linear-gradient(#f2f2f2, #fff);
			padding-top: 5%;
			text-align: justify;
			overflow: hidden;
			border-top: solid 3px $primary;
			.logo{
				width: 50%;
				height: auto;
			}
			h3{
				color: $primary;
				margin-top: 15px;
				margin-bottom: 10px;
			}
			p.text-center{
				color: #484848;
			}
			hr.small{
				margin: 0 auto;
				margin-top: 10px;
				margin-bottom: 10px;
				width: 30%;
				opacity: 0.0;
			}
			.heading{
				padding-left: 5%;
				padding-right: 5%;
			}
			.col{
				text-align: center;
				padding-top: 10px;
				padding-bottom: 10px;
				img{
					margin-bottom: 15px;
				}
			}
		}
		.box:hover{
			background: #fff;
			@include smallBoxShadow(darken($primary, 15%));
			hr.small{
				opacity: 1.0;
			}
		}
		.message{
			font-size: 14px;
			background: #f5f5f5;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10%;
			padding-right: 10%;
			border-top: solid 1px #eee;
			margin-top: 10px;
		}
		.comments{
			padding-left: 5%;
			padding-right: 5%;
		}
	}
	.row:hover{
		.click-help{
			max-height: 200px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

#talk1{
	@include linear-gradient($primary, darken($primary, 15%));
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
	h1, h2, h3, p, span{
		color: #fff;
	}
	p{
		margin-top: 15px;
	}
	span{
		font-size: 16px;
	}
	form{
		float: none;
		margin: 0 auto;
		margin-top: 25px;
		padding: 5%;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: justify;
	}
}

#talk2{
	overflow: hidden;
	h1, h2{
		text-align: center;
		margin-bottom: 15px;
	}
	h1{
		@include textStroke($secondary);
		color: #fff;
		text-shadow: 1px 0px 1px #000;
	}
	.talk-menu{
		@include transition(0.25s);
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		overflow: hidden;
		form{
			float: none;
			margin: 0 auto;
			h2, h3{
				color: #fff;
			}
		}
	}
	.talk-menu.active{
		padding-top: 50px;
		padding-bottom: 50px;
		background: rgba(0, 0, 0, 0.55);
	}
	.switch-wrap{
		padding-top: 15px;
		padding-bottom: 15px;
		.label{
			color: #fff;
			font-size: 16px;
		}
	}
}

#talk3{
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
	h1{
		@include textStroke($secondary);
		text-align: center;
		color: #fff;
		text-shadow: 1px 0px 1px #000;
	}
	.back{
		padding-left: 5%;
		padding-right: 5%;
		margin-bottom: 15px;
	}
	.reply-board{
		@include smallBoxShadow(#484848);
		background: #fff;
		border-radius: 7px;
		border: solid 3px $primary;
		float: none;
		margin: 0 auto;
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 0px;
		overflow: hidden;
		form{
			@include transitionFade(0.25s);
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center;
			float: none;
			margin: 0 auto;
		}
		p{
			margin-bottom: 10px;
		}
		.title{
			padding-top: 15px;
			padding-bottom: 15px;
			.heading{
				padding-left: 5%;
				padding-right: 5%;
			}
		}
		.message{
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 5%;
			padding-right: 5%;
		}
		.buttons{
			padding-left: 5%;
			padding-right: 5%;
			span{
				@include transition(0.25s);
				em{
					@include transitionFade(0.25s);
					display: none;
					font-size: 16px;
				}
				button{
					img{
						width: 20px;
						height: 20px;
					}
				}
			}
			span:hover{
				em{
					display: inline;
				}
			}
		}
		.replies{
			background: #f5f5f5;
			border-top: solid 1px #eee;
			.title{
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 5%;
				padding-right: 5%;
				border-bottom: solid 1px #eee;
			}
			.heading{
				padding-left: 5%;
				padding-right: 5%;
				padding-top: 15px;
				padding-bottom: 15px;
				em{
					font-weight: 300;
				}
			}
			.message{
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 7%;
				padding-right: 7%;
			}
		}
	}
	.switch-wrap{
		.label{
			color: #fff;
		}
	}
}

.secTitle{
	width: 500px;
	margin: 0 auto;
	background: url(/images/whiteTrans90.png);
	border: solid 1px #eee;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
}

footer{
	@include transition(0.25s);
	font-family: 'Lato', sans-serif;
	width: 100%;
	text-align: center;
	position: relative;
	background: $primary;
	color: #fff;
	overflow: hidden;
	.col{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 5%;
		padding-right: 5%;
		li{
			list-style: none;
			margin-bottom: 10px;
		}
		.fb-like{
			
		}
	}
}

footer:hover{
	background: $tertiary;
	border-top: solid 4px $primary;
}

#loading{
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(/images/football_field2_1300.jpg);
	text-align: center;
	z-index: 900;
	h1{
		font-family: 'Megrim', cursive;
		color: #fff;
		text-shadow: 1px 0px 1px #aaa;
		font-size: 30px;
		margin-top: 25%;
		text-align: center;
	}
	div{
		margin-top: 15px;
		text-align: center;
	}
}

.switch-wrap{
	@include transition(0.25s);
	float: none;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 50px;
	.label{
		@include transition(0.25s);
		text-align: center;
		font-size: 15px;
	}
	.label:hover{
		color: $primary;
	}
	.switch{
		@include transition(0.25s);
		@include smallBoxShadowInset(darken($link-color, 10%));
		position: relative;
		background: #000;
		border-radius: 8px;
		padding: 1px;
		border: solid 2px $primary;
		.switch-btn{
			@include transition(0.25s);
			@include linear-gradient(#aaa, #eee);
			border-radius: 10px;
			width: 40%;
			height: 12px;
		}
		.switch-btn.left{
			@include transition(0.25s);
			margin-left: 0px;
		}
		.switch-btn.right{
			@include transition(0.25s);
			margin-left: 60%;
		}
	}
}

.peek{
	@include transition(0.25s);
	height: 350px;
	position: relative;
	overflow: hidden;
	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.heading{
		@include transition(0.25s);
		float: left;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 5%;
		padding-right: 5%;
		background: #f2f2f2;
		width: 100%;
		height: 100%;
		text-align: center;
		h1{
			margin-top: 5%;
			margin-bottom: 10px;
		}
	}
	.info{
		@include transition(0.25s);
		background: #fff;
		float: left;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 5%;
		padding-right: 5%;
		min-height: 100%;
		width: 0;
		height: 100%;
		h2, a{
			margin-top: 5%;
			margin-bottom: 10px;
			display: none;
		}
		h2, h3{
			color: #484848;
		}
		a{
			h2, h3{
				color: $tertiary;
			}
		}
		p{
			text-align: justify;
		}
		hr{
			border-color: $primary;
		}
	}
}
.peek:hover{
	.heading{
		width: 30%;
		.blink{
			display: none;
		}
	}
	.info{
		@include smallBoxShadowInset(#aaa);
		width: 70%;
		h2, a{
			display: inline;
		}
	}
}

.modalWrap{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.75);
	.modalBox{
		float: none;
		padding: 0px;
		margin: 0 auto;
		margin-top: 50px;
		padding-bottom: 25px;
		background: #f2f2f2;
		text-align: center;
		border-radius: 10px;
		.title{
			background: $primary;
			color: #fff;
			padding-top: 5px;
			padding-bottom: 5px;
			h2{
				font-family: 'Megrim', cursive;
			}
		}
		h3{
			font-weight: 300;
		}
		p{
			margin-top: 15px;
			margin-bottom: 5px;
			margin-left: 10px;
			margin-right: 10px;
		}
		div, form{
			@include transitionFade(0.25s);
			margin-top: 5px;
			margin-bottom: 5px;
			padding: 10px;
			input{
				margin: 10px;
			}
		}
		.close-icon{
			@include transition(0.5s);
	        width: 35px;
	        height: 35px;
	        position: absolute;
	        top: 5px;
	        right: 5px;
	        opacity: 0.70;
	        cursor: pointer;
	    }
	    .close-icon:hover{
	    	opacity: 0.90;
	    }
	}
}