<menu call-menu ng-include src="'pages/menu.html'"></menu>
<div id="home1" class="slider">
	<a class="arrows" id="leftArrow" ng-click="prevSlide()"><img src="/images/thinLeft_white.png" alt="left_arrow" /></a>
    <a class="arrows" id="rightArrow" ng-click="nextSlide()"><img src="/images/thinRight_white.png" alt="right_arrow" /></a>
    <div class="logo">
    	<h1>Fanalytik</h1>
    </div>
    <div ng-repeat="slide in slides" id="slide{{slide.index}}" class="clickable slide" ng-show="slideIdx == $index+1" ng-click="sliderGo()">
        <div class="slideText" id="slideText1">
            <h2>{{slide.header}}</h2>
            <hr />
            <h3>{{slide.text}}</h3>
        </div>
        <div class="slideRadioBox">
	    	<div class="slideRadio clickable" ng-repeat="s in slides" ng-click="goSlide($index+1)" ng-class="{current: slideIdx == $index+1}"></div>
	    </div>
	    <div class="socialBox">
			<a href="http://www.twitter.com/fanalytik" target="_blank"><img class="socialLinks" src="/images/twitter.png" alt="Twitter" /></a>
			<a href="/blog"><img class="socialLinks" src="/images/wordpress.png" alt="Twitter" /></a>
			<a href="/blog/contact/"><img class="socialLinks" src="/images/envelope.png" alt="Contact" /></a>
		</div>
    </div>
</div>
<div id="home2" class="secFull">
	<a class="arrows left" ng-click="prevArticle()"><img src="/images/thinLeft_white.png" alt="left_arrow" /></a>
	<div id="article">
		<h3>{{articles[articleIdx].title}} <a ng-href="{{articles[articleIdx].link}}">Read More</a></h3>
	</div>
	<a class="arrows right" ng-click="nextArticle()"><img src="/images/thinRight_white.png" alt="right_arrow" /></a>
</div>
<div id="home3" class="secFull peek">
	<div class="col heading">
		<h1>The Blog</h1>
		<hr />
		<p class="blink">Hover for more info</p>
	</div>
	<div class="col info">
		<h2>Check out our blog where we cover hot topics across the NFL, College Football, and much more, from a fan's perspective.</h2>
		<hr />
		<a href="/blog"><h2>Visit the blog</h2></a>
	</div>
</div>
<div id="home4" class="secFull peek">
	<div class="col heading">
		<h1>The Spotlight</h1>
		<hr />
		<p class="blink">Hover for more info</p>
	</div>
	<div class="col info">
		<h2>Check out some highlights and other sports related videos ranging from high school highlight tapes to record-breaking performances, submitted by fans or recommended by us.</h2>
		<hr />
		<a href="#spotlight"><h2>Check out the Spotlight</h2></a>
	</div>
</div>
<div id="home5" class="secFull peek">
	<div class="col heading">
		<h1>Fan Talk</h1>
		<hr />
		<p class="blink">Hover for more info</p>
	</div>
	<div class="col info">
		<h2>Frustrated with your team? Want to brag about a recent win? Want us to write more about your team? Put it on the rant board! See how many fans are saying the same thing.</h2>
		<hr>
		<a href="#talk"><h2>Let your voice be heard</h2></a>
	</div> 
</div>